/*Todo*/
/*intro, services solutions... new name*/

/*Ask alex for calc and flex*/
/*why comigo styling*/
/*home services bg image alignment*/
/*your content margin */
/*Social button round bg + F, T*/
/*svg bg color and square*/
/*Read more blog post*/

/*General*/
html {
  box-sizing: border-box;
}

.list-reset {
  list-style: none;
  padding:0;
  marging:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: ProximaNova, 'Source Sans Pro', sans-serif;
  font-weight: 300;
  /*padding-top: 66px;*/
}

@media screen and (max-width: 700px),(max-device-width: 400px) {
  .top-navigation {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration-line: none;
}

a:focus {
  outline: none;
}

.button {
  padding: 1em;
  position: center;
}

.button.round {
  border-radius: 10em;
}

.main-button {
  color: #ffffff;
  background-color: #f14848;
}

.main-button.inverse {
  color: #f14848;
  background-color: #ffffff;
}


.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

